<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login And Sign up</title>

    <link rel="stylesheet" href="./login_css.css">
</head>

<body>


    <div class="main-container">

        <div class="left-box">
            <form action="" class="login-signup-form">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter username or email">

                <label for="password">Password</label>
                <input type="password" name="email" id="password" placeholder="Enter password">



            </form>

            <button id="login">Login</button>
        </div>
        <div class="line"></div>
        <div class="right-box">
            <p>Ready to join our community? Sign up now and discover a world of exclusive content and member benefits!
            </p>
            <button id="signup" class="slider">Sign up</button>

        </div>
    </div>



    <script>

        let class_slider = document.querySelector(".slider");

        let buttons = document.querySelectorAll("button")
        let leftbox = document.querySelector(".left-box");

        let rightbox = document.querySelector(".right-box");

        let maincontainer = document.querySelector(".main-container");

        let introDes = rightbox.getElementsByTagName("p")[0];


        let slide = (e) => {
            e.stopPropagation();
            let loginbtn = document.querySelector("#login");
            let signupbtn = document.querySelector("#signup");

            if (signupbtn.classList.contains("slider")) {

                console.log("IF");

                signupbtn.setAttribute("id", "login");
                signupbtn.textContent = "Login";
                introDes.textContent = "Already a memeber of our community? Login now and resume your journey with us";


                loginbtn.setAttribute("id", "signup")
                loginbtn.textContent = "Sign up";
            }

            else {
                console.log("Else");
                signupbtn.setAttribute("id", "login");
                signupbtn.textContent = "Login";

                introDes.textContent = "Ready to join our community? Sign up now and discover a world of exclusive content and member benefits!"
                loginbtn.setAttribute("id", "signup");
                loginbtn.textContent = "Sign up";
            }

        }

        class_slider.addEventListener("click", slide)
        maincontainer.addEventListener("click", (e) => {
            if (e.target.textContent == "Login") {
                console.log(e.target);
                alert("Login failed");
            }

            if (e.target.textContent == "Sign up") {
                console.log(e.target);
                alert("Sign up failed");
            }
        })


    </script>
</body>

</html>