* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212123;
    color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    padding: 1rem;
    width: 700px;
    height: 300px;
    display: flex;
    border: 1px solid red;
    justify-content: space-around;
    align-items: centerS;
}


.reverse-on-click {
    display: flex;
    flex-direction: row-reverse;
}



.left-box {

    padding: 1rem;
    border: 1px solid green;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}


.login-signup-form {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: .5rem;
}

.login-signup-form input {
    border-radius: 5px;
    outline: none;
    padding: .5rem;
    width: 100%;
    border: 1px solid blue;
}
.line{
    background-color: white;
    /* height: 400px; */
    width: 2px;
    transform: skew(10deg,10deg);
}
.right-box {
background-color: blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid yellow;
    padding: 3rem;
    transition: all 2s linear;
    
}


.right-box p {

    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 5px
}

#login {
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: .5rem;
    width: 90%;
    background: linear-gradient(to right, rgb(109, 92, 92), rgb(149, 149, 201));
}

#signup {
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: .5rem;
    width: 90%;
    background: linear-gradient(to right, rgb(109, 92, 92), rgb(149, 149, 201));

}

#signup:hover,
#login:hover {
    color: white;
    background: linear-gradient(to bottom, rgb(149, 149, 201), rgb(109, 92, 92));

}