
<nav class="navBarContainer">
        
  <div class="logoLeftContainer">
    <img src="./images/Frame.png" alt="Logo">
  </div>
  
  <ul class="centerAnchorTagsContainer">
    <li><a href="/">Home</a></li>
    <li><a href="/AllChallengesPage">Challenge</a></li>
    <li><a href="###">Notification</a></li>
    <li><a href="/HideChallengesPage">Hide Challenges</a></li>
    <li><a href="/settingPage">Setting</a></li>
  </ul>
  
  <div class="rightNavdivision">
    <button class="primary-Button" id="siginButton">Sign in</button>
    <a href="/profilePage"><img src="./images/user-circle.svg" alt="User Icon"></a>
    <a href="/languageSetting"><img src="./images/globe.svg" alt="Globe Icon"></a>
    
    
  </div>

  <img class="Menu" id="menuIcon" src="./images/icon-menu.svg" alt="icon-menu">
  

</nav>