body{
  display: flex;
  flex-direction: column;
  background-image: url("./images/Pages-Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.iconsDivision{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.centerContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.primary-heading{
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--white);
}
.primary-paragraph{
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color:rgba(94, 98, 114, 1);

}
.scrachBoxsection{
  align-self: center;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scratchBoxDivision{
  width: 400px;
  height:270px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

}
.scratchedParagraph{
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color:var(--purple);

}
.buttonsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

}
.primary-Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

}
.primary-Buttons{
  
  background-color: rgba(27, 32, 41, 1);
  color:var(--white);
  font-size: var(--f-size);
  height: 2.5rem;
  width: 11rem;

  border-radius: 5px;
  outline: none;
  border: none;

}
.secondary-Container{
  width: 100%;
  display: grid;
  place-items: center;
}
.secondary-Button{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.3rem 0rem;
  background-color:var(--purple);
  color:var(--white);
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  outline: none;
}

@media screen and (max-width:500px) {
  .scrachBoxsection{
    width:320px;
  }
  .scratchBoxDivision{
    width: 285px;
  }

  .primary-Buttons{
    width: 8.5rem;
  }
  
}