<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habbit Challenges|App</title>

    <link rel="stylesheet" href="./CSS Files/login_signup.css">

</head>

<body>

    <div class="container">

        <!-- For sign in -->

        <div class="singin-container">
            <div class="sign-from-container">
                <h2 class="prmiary-heading">Sign in to your account</h2>
                <form action="#" class="form">
                    <label for="username">Username</label>
                    <input type="text" id="username" placeholder="Enter your username">


                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Enter your password">



                </form>

                <button id="signin">Sign in</button>

            </div>

            <div class="for-new-user">
                <p>Don't have an account</p>
                <p>Start your journey with us</p>

                <button id="signup">Sign Up</button>
                <a href="/"> <button class="slider-pane" id="siginButton">Back to Home</button></a>

            </div>

        </div>

        <div class="line"></div>

        <!-- for sign up -->

        <div class="signup-container">
            <div class="signup-from-container">
                <h2 class="prmiary-heading">Create your account</h2>
                <form action="#" class="form signup-from">

                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Enter your name">

                    <label for="email">Email</label>
                    <input type="text" id="email" placeholder="Enter your email">

                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Enter your password">

                    <label for="gender">Select Gender</label>
                    <div class="gender-container">

                        Male:<input type="radio" class="gender" name="gender" value="Male">
                        Female<input type="radio" class="gender" name="gender" value="Female">
                    </div>


                </form>
                <button id="signup">Sign Up</button>
            </div>

            <div class="for-old-user">
                <p>Already a member?</p>
                <p>Resume your journey with us and explore what have not yet</p>
                <button id="signin">Sign in</button>
                <a href="/"> <button class="slider-pane" id="siginButton">Back to Home</button></a>

            </div>

        </div>


    </div>

    <script src="../Javascript Files/login_signup_script.js"></script>


</body>

</html>