<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In & Sign Up</title>
    <link rel="stylesheet" href="./CSS Files/login_signup.css">

</head>

<body>

    <div class="container">

        <!-- For sign in -->

        <div class="singin-container">
            <div class="sign-from-container">
                <h2>Sign in to your account</h2>
                <form action="#">
                    <label for="username">Username</label>
                        <input type="text" id="username" placeholder="Enter your username">
                    

                    <label for="password">Password</label>
                        <input type="password" id="password" placeholder="Enter your password">
                    

                    <button id="signin">Sign in</button>
                </form>
            </div>

            <div class="for-new-user">
                <p>Don't have an account</p>
                <p>Start your journey with us</p>
               
                <button id="signup">Sign Up</button>

            </div>

        </div>

        <div class="line"></div>

        <!-- for sign up --> 
         
        <div class="signup-container">
            <div class="signup-from-container">
                <h2>Create your account</h2>
                <form action="#">

                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Enter your name">
                
                    <label for="username">Username</label>
                        <input type="text" id="username" placeholder="Enter your username">
                    

                    <label for="password">Password</label>
                        <input type="password" id="password" placeholder="Enter your password">
                    

                    <button id="signup">Sign Up</button>
                </form>
            </div>

            <div class="for-old-user">
                <p>Already a member?</p>
                <p>Resume your journey with us and explore what have not yet</p>
                <button id="signin">Sign in</button>

            </div>

        </div>


    </div>

    <script src="../Javascript Files/login_signup_script.js"></script>


</body>

</html>