@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --purple:rgba(108, 93, 211, 1);

  --black:rgba(0,0,0,1);
  --white:rgba(255, 255, 255, 1);
  --light-white:rgba(255, 255, 255, 0.3);
  --dark-gray-shade:#5e6272;

  --teal:
  rgba(37, 192, 190, 1);
  --pink:rgba(255, 162, 192, 1);
  --red:rgba(231, 10, 10, 1);
  --black-with-Grayish-Shade:
  rgba(40, 42, 55, 1);
  
  
  --blue-Color-For-Gradiant:rgba(43, 89, 255, 1);
  --light-Purple-Color-For-Gradiant:
rgba(187, 43, 255, 1);
--selection: rgba(255, 77, 0, 0.977);
  --light-grey: #ccc;
  --active-switch: #2196f3;
  
  --darkmode-bg: #171c28;
  --darkmode-text: #f4f4f4;
  --darkmode-links: #ffce06;

  --lightmode-bg: #f4f4f4;
  --lightmode-text: rgb(74, 71, 71);



  
  
  --f-size: 16px;
  
}
html,
body {
  font-family: 'Inter', sans-serif;
  background-color:#12151B;
}