body{
  display: flex;
  flex-direction: column;
  background-image: url("../images/Pages-Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.AllChallengesSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.primary-headings{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color:var(--white);
}

/* ==============Tabs Style=========== */
.tabsContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

}
.tab {
  overflow: hidden;
  background-color: transparent
}

/* Style the buttons inside the tab */
.tab button {
  background: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 16px 4px 16px;
  border-radius: 16px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  color: rgba(94, 98, 114, 1);

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color:var(--purple);
  color:var(--white);
  font-weight: bolder;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color:var(--purple);
  color:var(--white);
  font-weight: bolder;

}

/* Style the tab content */
.tabcontent {
  display: none;
  width: 650px;
  padding: 0.5rem;
}

/* ==============challenge Card -======= */
.challengeCard{
  position: relative;
  border: 1px solid white;
  width: 290px;
  height: 112px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  background-color: rgba(23, 30, 45, 1); 
  border-radius: 15px;
}
.challengeCardContainer{
  display: inline-block;
  margin: 0.5rem;
}
.imageContentContainer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.secondary-Headings{
  font-size: 16px;
  font-weight: 700;
  color:var(--white);
}
.descriptionChallenge{
  font-size: 14px;
  font-weight: 600;
  color: rgba(128, 129, 145, 1);
}
.ProgressBar{
  width: 270px;
  width: 100%;
  height:3px;
  box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: rgba(94, 98, 114, 1);
}
.Progress{
  height:3px; 
}
#drinkWaterProgressBar{
  width: 75%;
  background-color: var(--pink) !important;
}
#readBookProgressBar{
  width: 50%;
  background-color: rgba(160, 215, 231, 1) !important;
}
#doExcerciseProgressBar{
  width: 75%;
  background: linear-gradient(180deg, #BBFFE7 0%, #86FFCA 100%);

}
#mediationProgressBar{
  width: 25%;
  background-color: rgba(243, 0, 0, 1) !important;
}



.challengeCard span:first-child{
  position: absolute;
  right: 3%;
  top: 10%;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  color: var(--white);
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
#drinkWaterStatusSpan{
  background-color: var(--pink);
}
#readBookStatusSpan{
  background-color: rgba(160, 215, 231, 1) ;

}
#doExcerciseStatusSpan{
  background: linear-gradient(180deg, #BBFFE7 0%, #86FFCA 100%);


}
#mediationStatusSpan{
  background-color: rgba(255, 206, 115, 1);

}



@media screen and (max-width:670px) {
  .tabcontent{
    width: 555px;
  }
  .challengeCard{
    width: 250px;
  }
  
}
@media screen and (max-width:579px) {
  .tabcontent{
    width: 330px;
    border: 1px solid red;
  }
  .challengeCard{
    width: 300px;
  }
  
  
  
}