body{
  display: flex;
  flex-direction: column;
  background-image: url("./images/Pages-Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.challengeSection{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  gap: 1rem;
  border-radius: 1rem;
  margin-block: 1rem;

}

.challengeDisplayDivision{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.challengeDisplayDivision img{
  width: 270px;
  height: 250px;
  border-radius: 10px;
}
.primaryHeading{
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
  text-align: center;

}
.primary-Paragraph{
  width: 73%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: rgba(94, 98, 114, 1);


}

.challengeDayStatus li{
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  border-radius: 1.2rem;
  background: transparent;
  text-align: center;
  padding: 0.3rem 0.2rem;
  color: var(--white);
  list-style: none;
}
.challengeDayStatus li:first-child{
  border: 1px solid var(--purple);
}
.challengeDayStatus li:nth-child(2),.challengeDayStatus li:nth-child(3){
  background-color: var(--purple);
}
.challengeDayStatus li:nth-child(4){
  background: linear-gradient(180deg, #E2BDFF 0%, #DBB0FD 100%);
}
.iconsDivision{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.guidingSpanDivision{
  align-self:stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.spansDivision{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.spanDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.spanDiv span:first-child{
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 6px;
}
.spanDiv span{
  font-size: 1rem;
  font-weight: 300;
  color:rgba(255, 255, 255, 1);
}
#allCompleteDiv span:first-child{
  background-color: var(--purple);
}
#notCompleteDiv span:first-child{
  border: 1px solid var(--purple);
  background: transparent;
}
#inProgressDiv{
  margin-left: 1rem;
}
#inProgressDiv span:first-child{
  background: linear-gradient(180deg, #E2BDFF 0%, #DBB0FD 100%);

}

.primary-Buttons{
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  margin-block: 1rem;
  background-color: var(--purple);
  padding: 0.5rem 3rem;
  text-align: center;

  border-radius: 5px;
  border: none;
  outline: none;
}

.dayAnchorTag{
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  .challengeSection{
    width:340px;
  }
  
}