* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: var(--selection);
}

:root {
  --selection: rgba(255, 77, 0, 0.977);
  --light-grey: #ccc;
  --active-switch: #2196f3;
  
  --darkmode-bg: #171c28;
  --darkmode-text: #f4f4f4;
  --darkmode-links: #ffce06;

  --lightmode-bg: #f4f4f4;
  --lightmode-text: rgb(74, 71, 71);
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("../images/Pages-Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-color: var(--lightmode-bg);
  color: var(--lightmode-text);
  transition: all 0.3s ease, color 0.3s ease;
}

.settingSection {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap:0.2rem;
}

.settingContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 570px;

}

.primary-headings {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--darkmode-text); /* Fixed color value */
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.InputDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 1rem;
}
.input{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 1rem;
  height: 2.8rem;
  background: rgba(27, 32, 42, 1);
  color:white;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  justify-content: space-between;
  border-radius: 25px;
}
.inputCheckBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
  height: 1.5rem;
}
.label{
  color:rgba(128, 129, 145, 1);
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding-inline: 0.6rem;
}
.checkboxLabel{
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color:rgba(94, 98, 114, 1);
}


/* ==============================Check Box style Dark mode ============================ */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 18px;
  width: 18px;
  background:transparent;
  border-radius: 5px;
  border:1px solid grey;
}

.container:hover input ~ .checkmark {
  background:transparent;

}

.container input:checked ~ .checkmark {
  background: linear-gradient(216.58deg, #8E96FF 0%, #6C5DD3 100%);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* =======================Custom Select box============ */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  width: 100%;
  height: 2.8rem;
  border-radius: 20px;
  padding: 0rem 0.5rem;
  background-color: rgba(27, 32, 42, 1) ;
  color: var(--white);
  border:none;

}
.inputLabel{
  
}

.select-selected {
  background-color: rgba(27, 32, 42, 1) ;
  border-radius: 25px;
  height: 2.8rem;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 45%;
  right: 3%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #ffffff;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  padding-block: 11px;
  padding-inline: 0.9rem;
}
.select-selected.select-arrow-active{
  border-bottom-right-radius:0px; 
  border-bottom-left-radius:0px;
  
}
.select-items {
  position: absolute;
  background-color: rgba(27, 32, 42, 1) ;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom-right-radius:25px; 
  border-bottom-left-radius:25px;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


/* ==============================Rounded Switches Style =========================== */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #CDE7FF 0%, #C1E1FF 100%);
  -webkit-transition: .5s;
  transition: .5s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 1px;
  background: linear-gradient(216.58deg, #8E96FF 0%, #6C5DD3 100%);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: linear-gradient(180deg, #CDE7FF 0%, #C1E1FF 100%);

}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);  
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media screen and (max-width:640px) {
  .settingContainer{
    width: 450px;
  }
  
}
@media screen and (max-width:460px) {
  .settingContainer{
    width: 330px;
  }
  
}